<section class="new-payment">
    <form action="" (ngSubmit)="onPayment(f)" #f="ngForm">
      <mat-card class="payment-card">
          <mat-card-title>
              Cuentas a Pagar
          </mat-card-title>
          <mat-card-content class="payment-card-body">
            <!-- <mat-spinner *ngIf="isLoading$ | async"></mat-spinner> -->
            <mat-form-field>
              <mat-select (selectionChange)="selectPayment($event.value)"  placeholder="Seleccione Servicio" ngModel name="payment" required >
                 <mat-option *ngFor="let payment of pendingPaymentList" [value]="payment.id">
                      {{payment.name}}
                 </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="indexSelected > -1">
                <input matInput type="number" name="amount" id="amountToPay" [ngModel]="paymentList[indexSelected].amount" disabled>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
              <button  color="primary" type="submit" mat-button [disabled]="f.invalid">
                 Pagar
              </button>
            </mat-card-actions>
        </mat-card>
      </form>
              
  </section>
  